

<!DOCTYPE html>
<html class="writer-html5" lang="en" data-content_root="../../../">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>tbot.tc.kconfig &mdash; tbot 0.10.10-0-g1853255 documentation</title>
      <link rel="stylesheet" type="text/css" href="../../../_static/pygments.css?v=5349f25f" />
      <link rel="stylesheet" type="text/css" href="../../../_static/css/theme.css?v=e59714d7" />

  
      <script src="../../../_static/documentation_options.js?v=e1796f6e"></script>
      <script src="../../../_static/doctools.js?v=9a2dae69"></script>
      <script src="../../../_static/sphinx_highlight.js?v=dc90522c"></script>
    <script src="../../../_static/js/theme.js"></script>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >

          
          
          <a href="../../../index.html">
            
              <img src="../../../_static/tbot-logo-white.png" class="logo" alt="Logo"/>
          </a>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" aria-label="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
        </div><div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <p class="caption" role="heading"><span class="caption-text">Guides</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../quickstart.html">Quick Start</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../cli.html">tbot CLI</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../recipes.html">Recipes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../context.html">Context</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../pytest.html">pytest Integration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../migration.html">Migrating from tbot 0.7.1</a></li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Core Modules</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/main.html"><code class="docutils literal notranslate"><span class="pre">tbot</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/log.html"><code class="docutils literal notranslate"><span class="pre">tbot.log</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/machine.html"><code class="docutils literal notranslate"><span class="pre">tbot.machine</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/machine_linux.html"><code class="docutils literal notranslate"><span class="pre">tbot.machine.linux</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/machine_board.html"><code class="docutils literal notranslate"><span class="pre">tbot.machine.board</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/machine_connector.html"><code class="docutils literal notranslate"><span class="pre">tbot.machine.connector</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/machine_shell.html"><code class="docutils literal notranslate"><span class="pre">tbot.machine.shell</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/machine_channel.html"><code class="docutils literal notranslate"><span class="pre">tbot.machine.channel</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/error.html"><code class="docutils literal notranslate"><span class="pre">tbot.error</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/role.html"><code class="docutils literal notranslate"><span class="pre">tbot.role</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/selectable.html"><code class="docutils literal notranslate"><span class="pre">tbot.selectable</span></code></a></li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Testcase Modules</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/tc.html"><code class="docutils literal notranslate"><span class="pre">tbot.tc</span></code> - Builtin Testcases</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/connector.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.connector</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/gdb.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.gdb</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/gpio.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.gpio</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/linux.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.linux</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/locking.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.locking</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/swupdate.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.swupdate</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/timing.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.timing</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/uboot.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.uboot</span></code></a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contrib/utils.html"><code class="docutils literal notranslate"><span class="pre">tbot_contrib.utils</span></code></a></li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Info</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../CHANGELOG.html">Changelog</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../CONTRIBUTING.html">Contributing to tbot</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../LICENSE.html">License</a></li>
</ul>

        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">tbot</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content style-external-links">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="../../../index.html" class="icon icon-home" aria-label="Home"></a></li>
          <li class="breadcrumb-item"><a href="../../index.html">Module code</a></li>
          <li class="breadcrumb-item"><a href="../../tbot.html">tbot</a></li>
          <li class="breadcrumb-item"><a href="../tc.html">tbot.tc</a></li>
      <li class="breadcrumb-item active">tbot.tc.kconfig</li>
      <li class="wy-breadcrumbs-aside">
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">

           <div itemprop="articleBody">
             
  <h1>Source code for tbot.tc.kconfig</h1><div class="highlight"><pre>
<span></span><span class="c1"># tbot, Embedded Automation Tool</span>
<span class="c1"># Copyright (C) 2019  Harald Seiler</span>
<span class="c1">#</span>
<span class="c1"># This program is free software: you can redistribute it and/or modify</span>
<span class="c1"># it under the terms of the GNU General Public License as published by</span>
<span class="c1"># the Free Software Foundation, either version 3 of the License, or</span>
<span class="c1"># (at your option) any later version.</span>
<span class="c1">#</span>
<span class="c1"># This program is distributed in the hope that it will be useful,</span>
<span class="c1"># but WITHOUT ANY WARRANTY; without even the implied warranty of</span>
<span class="c1"># MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the</span>
<span class="c1"># GNU General Public License for more details.</span>
<span class="c1">#</span>
<span class="c1"># You should have received a copy of the GNU General Public License</span>
<span class="c1"># along with this program.  If not, see &lt;https://www.gnu.org/licenses/&gt;.</span>

<span class="kn">import</span><span class="w"> </span><span class="nn">tbot</span>
<span class="kn">from</span><span class="w"> </span><span class="nn">tbot.machine</span><span class="w"> </span><span class="kn">import</span> <span class="n">linux</span>


<span class="k">def</span><span class="w"> </span><span class="nf">_kconf_sed</span><span class="p">(</span><span class="n">conf</span><span class="p">:</span> <span class="n">linux</span><span class="o">.</span><span class="n">Path</span><span class="p">,</span> <span class="n">name</span><span class="p">:</span> <span class="nb">str</span><span class="p">,</span> <span class="n">expr</span><span class="p">:</span> <span class="nb">str</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
    <span class="n">conf</span><span class="o">.</span><span class="n">host</span><span class="o">.</span><span class="n">exec0</span><span class="p">(</span>
        <span class="s2">&quot;sed&quot;</span><span class="p">,</span> <span class="s2">&quot;-i&quot;</span><span class="p">,</span> <span class="sa">f</span><span class="s2">&quot;/^</span><span class="se">\\</span><span class="s2">(# </span><span class="se">\\</span><span class="s2">)</span><span class="se">\\</span><span class="s2">?</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="se">\\</span><span class="s2">(=[ym]</span><span class="se">\\</span><span class="s2">| is not set</span><span class="se">\\</span><span class="s2">)$/c</span><span class="si">{</span><span class="n">expr</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span> <span class="n">conf</span>
    <span class="p">)</span>


<div class="viewcode-block" id="enable">
<a class="viewcode-back" href="../../../modules/tc.html#tbot.tc.kconfig.enable">[docs]</a>
<span class="nd">@tbot</span><span class="o">.</span><span class="n">named_testcase</span><span class="p">(</span><span class="s2">&quot;kconfig_set_enabled&quot;</span><span class="p">)</span>
<span class="k">def</span><span class="w"> </span><span class="nf">enable</span><span class="p">(</span><span class="n">conf</span><span class="p">:</span> <span class="n">linux</span><span class="o">.</span><span class="n">Path</span><span class="p">,</span> <span class="n">name</span><span class="p">:</span> <span class="nb">str</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    Enable a kconfig option.</span>

<span class="sd">    Example::</span>

<span class="sd">        kconfig.enable(repo / &quot;.config&quot;, &quot;CONFIG_AUTO_COMPLETE&quot;)</span>

<span class="sd">    :param linux.Path conf: Path to kconfig file (usually .config)</span>
<span class="sd">    :param str name: Name of the option (with leading ``CONFIG_``)</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">tbot</span><span class="o">.</span><span class="n">log</span><span class="o">.</span><span class="n">message</span><span class="p">(</span><span class="sa">f</span><span class="s2">&quot;Enabling </span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2"> option ...&quot;</span><span class="p">)</span>
    <span class="n">_kconf_sed</span><span class="p">(</span><span class="n">conf</span><span class="p">,</span> <span class="n">name</span><span class="p">,</span> <span class="sa">f</span><span class="s2">&quot;</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2">=y&quot;</span><span class="p">)</span></div>



<div class="viewcode-block" id="module">
<a class="viewcode-back" href="../../../modules/tc.html#tbot.tc.kconfig.module">[docs]</a>
<span class="nd">@tbot</span><span class="o">.</span><span class="n">named_testcase</span><span class="p">(</span><span class="s2">&quot;kconfig_set_module&quot;</span><span class="p">)</span>
<span class="k">def</span><span class="w"> </span><span class="nf">module</span><span class="p">(</span><span class="n">conf</span><span class="p">:</span> <span class="n">linux</span><span class="o">.</span><span class="n">Path</span><span class="p">,</span> <span class="n">name</span><span class="p">:</span> <span class="nb">str</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    Set a kconfig option to be built as module.</span>

<span class="sd">    Example::</span>

<span class="sd">        kconfig.module(repo / &quot;.config&quot;, &quot;CONFIG_BLK_DEV_NVME&quot;)</span>

<span class="sd">    :param linux.Path conf: Path to kconfig file (usually .config)</span>
<span class="sd">    :param str name: Name of the option (with leading ``CONFIG_``)</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">tbot</span><span class="o">.</span><span class="n">log</span><span class="o">.</span><span class="n">message</span><span class="p">(</span><span class="sa">f</span><span class="s2">&quot;Setting </span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2"> to be built as a module ...&quot;</span><span class="p">)</span>
    <span class="n">_kconf_sed</span><span class="p">(</span><span class="n">conf</span><span class="p">,</span> <span class="n">name</span><span class="p">,</span> <span class="sa">f</span><span class="s2">&quot;</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2">=m&quot;</span><span class="p">)</span></div>



<div class="viewcode-block" id="disable">
<a class="viewcode-back" href="../../../modules/tc.html#tbot.tc.kconfig.disable">[docs]</a>
<span class="nd">@tbot</span><span class="o">.</span><span class="n">named_testcase</span><span class="p">(</span><span class="s2">&quot;kconfig_set_disabled&quot;</span><span class="p">)</span>
<span class="k">def</span><span class="w"> </span><span class="nf">disable</span><span class="p">(</span><span class="n">conf</span><span class="p">:</span> <span class="n">linux</span><span class="o">.</span><span class="n">Path</span><span class="p">,</span> <span class="n">name</span><span class="p">:</span> <span class="nb">str</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    Disable a kconfig option.</span>

<span class="sd">    Example::</span>

<span class="sd">        kconfig.disable(repo / &quot;.config&quot;, &quot;CONFIG_AUTO_COMPLETE&quot;)</span>

<span class="sd">    :param linux.Path conf: Path to kconfig file (usually .config)</span>
<span class="sd">    :param str name: Name of the option (with leading ``CONFIG_``)</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">tbot</span><span class="o">.</span><span class="n">log</span><span class="o">.</span><span class="n">message</span><span class="p">(</span><span class="sa">f</span><span class="s2">&quot;Disabling </span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2"> option ...&quot;</span><span class="p">)</span>
    <span class="n">_kconf_sed</span><span class="p">(</span><span class="n">conf</span><span class="p">,</span> <span class="n">name</span><span class="p">,</span> <span class="sa">f</span><span class="s2">&quot;# </span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2"> is not set&quot;</span><span class="p">)</span></div>



<div class="viewcode-block" id="set_string_value">
<a class="viewcode-back" href="../../../modules/tc.html#tbot.tc.kconfig.set_string_value">[docs]</a>
<span class="nd">@tbot</span><span class="o">.</span><span class="n">named_testcase</span><span class="p">(</span><span class="s2">&quot;kconfig_set_value&quot;</span><span class="p">)</span>
<span class="k">def</span><span class="w"> </span><span class="nf">set_string_value</span><span class="p">(</span><span class="n">conf</span><span class="p">:</span> <span class="n">linux</span><span class="o">.</span><span class="n">Path</span><span class="p">,</span> <span class="n">name</span><span class="p">:</span> <span class="nb">str</span><span class="p">,</span> <span class="n">value</span><span class="p">:</span> <span class="nb">str</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    Set a kconfig string value.</span>

<span class="sd">    Example::</span>

<span class="sd">        kconfig.set_string_value(repo / &quot;.config&quot;, &quot;CONFIG_LOCALVERSION&quot;, &quot;-test&quot;)</span>

<span class="sd">    :param linux.Path conf: Path to kconfig file (usually .config)</span>
<span class="sd">    :param str name: Name of the option (with leading ``CONFIG_``)</span>
<span class="sd">    :param str value: New string value</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">tbot</span><span class="o">.</span><span class="n">log</span><span class="o">.</span><span class="n">message</span><span class="p">(</span><span class="sa">f</span><span class="s1">&#39;Setting </span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s1"> to &quot;</span><span class="si">{</span><span class="n">value</span><span class="si">}</span><span class="s1">&quot; ...&#39;</span><span class="p">)</span>
    <span class="n">conf</span><span class="o">.</span><span class="n">host</span><span class="o">.</span><span class="n">exec0</span><span class="p">(</span>
        <span class="s2">&quot;sed&quot;</span><span class="p">,</span>
        <span class="s2">&quot;-i&quot;</span><span class="p">,</span>
        <span class="sa">f</span><span class="s1">&#39;/^</span><span class="se">\\</span><span class="s1">(# </span><span class="se">\\</span><span class="s1">)</span><span class="se">\\</span><span class="s1">?</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="se">\\</span><span class="s1">(=&quot;.*&quot;</span><span class="se">\\</span><span class="s1">| is not set</span><span class="se">\\</span><span class="s1">)$/c</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s1">=&quot;</span><span class="si">{</span><span class="n">value</span><span class="si">}</span><span class="s1">&quot;&#39;</span><span class="p">,</span>
        <span class="n">conf</span><span class="p">,</span>
    <span class="p">)</span></div>



<div class="viewcode-block" id="set_hex_value">
<a class="viewcode-back" href="../../../modules/tc.html#tbot.tc.kconfig.set_hex_value">[docs]</a>
<span class="nd">@tbot</span><span class="o">.</span><span class="n">named_testcase</span><span class="p">(</span><span class="s2">&quot;kconfig_set_value&quot;</span><span class="p">)</span>
<span class="k">def</span><span class="w"> </span><span class="nf">set_hex_value</span><span class="p">(</span><span class="n">conf</span><span class="p">:</span> <span class="n">linux</span><span class="o">.</span><span class="n">Path</span><span class="p">,</span> <span class="n">name</span><span class="p">:</span> <span class="nb">str</span><span class="p">,</span> <span class="n">value</span><span class="p">:</span> <span class="nb">int</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    Set a kconfig hex value.</span>

<span class="sd">    Example::</span>

<span class="sd">        kconfig.set_hex_value(repo / &quot;.config&quot;, &quot;CONFIG_SYS_BASE&quot;, 0x10000)</span>

<span class="sd">    :param linux.Path conf: Path to kconfig file (usually .config)</span>
<span class="sd">    :param str name: Name of the option (with leading ``CONFIG_``)</span>
<span class="sd">    :param int value: Integer value that should be set (will be converted to hex)</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">tbot</span><span class="o">.</span><span class="n">log</span><span class="o">.</span><span class="n">message</span><span class="p">(</span><span class="sa">f</span><span class="s2">&quot;Setting </span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2"> to </span><span class="si">{</span><span class="nb">hex</span><span class="p">(</span><span class="n">value</span><span class="p">)</span><span class="si">}</span><span class="s2"> ...&quot;</span><span class="p">)</span>
    <span class="n">conf</span><span class="o">.</span><span class="n">host</span><span class="o">.</span><span class="n">exec0</span><span class="p">(</span>
        <span class="s2">&quot;sed&quot;</span><span class="p">,</span>
        <span class="s2">&quot;-i&quot;</span><span class="p">,</span>
        <span class="sa">f</span><span class="s2">&quot;/^</span><span class="se">\\</span><span class="s2">(# </span><span class="se">\\</span><span class="s2">)</span><span class="se">\\</span><span class="s2">?</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="se">\\</span><span class="s2">(=</span><span class="se">\\</span><span class="s2">(0[xX]</span><span class="se">\\</span><span class="s2">)</span><span class="se">\\</span><span class="s2">?[0-9a-fA-F]</span><span class="se">\\</span><span class="s2">+</span><span class="se">\\</span><span class="s2">| is not set</span><span class="se">\\</span><span class="s2">)$/c</span><span class="si">{</span><span class="n">name</span><span class="si">}</span><span class="s2">=</span><span class="si">{</span><span class="nb">hex</span><span class="p">(</span><span class="n">value</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span>
        <span class="n">conf</span><span class="p">,</span>
    <span class="p">)</span></div>

</pre></div>

           </div>
          </div>
    <a href="https://github.com/Rahix/tbot">
        <img style="position: absolute; top: 0; right: 0; border: 0;" decoding="async" width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" loading="lazy" data-recalc-dims="1">
    </a>

          <footer>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2019, Rahix.</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>