name: tbot selftest CI

on:
  push:
    branches:
      - master
      - wip
  pull_request:

jobs:
  test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies, linters, doc-tools
        run: |
          python -m pip install --upgrade pip
          pip install pytest mypy paramiko termcolor2 pyserial
      - name: Run pre-commit hooks for all files
        uses: pre-commit/action@v2.0.0
        with:
          extra_args: --all-files --verbose
        env:
          SKIP: selftests
      - name: Run tbot selftests
        run: |
          export COLUMNS=160
          python -m pytest -v --color=yes selftest/
      - name: Run tbot extended selftests
        run: |
          export CLICOLOR_FORCE=1
          python -m tbot.main -vv selftest_tc
